@import './scss/botoes';
@import './scss/formulario';
@import './scss/navbar';
@import './scss/resultados';
@import './scss/tela';
@import './scss/variaveis';

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    transition: ease-in-out 0.2s;    
}

.claro
{
    color: $cor-primaria;
    background-color: $fundo-primario;
}

.escuro
{
    color: $cor-secundaria;
    background-color: $fundo-secundario;
}

.oculto
{
    display: none;
}


.conteiner-grafico
{
    width: 500px;
    height: 500px;
}
