@import url('./scss/tema_claro.scss');
@import url('./scss/tema_escuro.scss');
@import url('./scss/tela.scss');
@import url('./scss/resultado.scss');
@import url('./scss/navbar.scss');
@import url('./scss/formulario.scss');
@import url('./scss/botoes.scss');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}