@import './variaveis';


.claro
{
    #sol { opacity: 0 }

    #lua { opacity: 1 }
}

.escuro
{
    #sol { opacity: 1 }

    #lua { opacity: 0 }
}

.botao
{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 0.1em solid $cor-primaria;
    border-radius: 0.1em;
    
    &:active
    {
        transform: scale(0.99);
    }
}

#botao-tema
{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 1;
    margin: 1em 0% 0% 95%;

    .icone-tema
    {
        position: absolute;
        color: inherit;
    }

    &:hover
    {
        #sol { color: $acender }
    
        #lua {color: $acender}
    }
}

.formulario
{
    input
    {
        background-color: transparent;
    }
}


