@import './variaveis';



.claro {
    #sol {
        opacity: 0
    }

    #lua {
        opacity: 1
    }
}

.escuro {
    #sol {
        opacity: 1
    }

    #lua {
        opacity: 0
    }
}

// Parâmetros para linha
.ln {
    position: absolute;
    display: block;
    background: $borda-botao;
    transition: .3s;
}


.btn {
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.5em;
    position: relative;
    border: none;
    cursor: pointer;
    font-family: $fonte-botao;
    font-size: 1em;
    letter-spacing: .1em;
    transition: .3 ease all;

    &:active {
        transform: scale(0.99);
    }

}

.link-graficos {
    user-select: none;
    display: inline-flex;
    text-decoration: none;
    font-family: $fonte-botao;
    letter-spacing: .1em;
    padding: .2em .2em;
    color: inherit;
    transition: 0.5s ease;
    overflow: hidden;

    .ln-link {
        bottom: 0;
        left: -100%;
        width: 100%;
        height: .2em;
    }

    &:hover
    {
        .ln-link { left: 0; }
    }


}

#input-label {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    overflow: hidden;
    transition: .3s;

    #ln1 {
        top: 0;
        left: -95%;
        width: 100%;
        height: .2em;
    }

    #ln2 {
        top: 75%;
        right: 0;
        width: .2em;
        height: 100%;
    }

    #ln3 {
        bottom: 0;
        right: -95%;
        width: 100%;
        height: .2em;
    }

    #ln4 {
        bottom: 75%;
        left: 0;
        width: .2em;
        height: 100%;
    }

    &:hover {
        #ln1 {
            left: 0%;
        }

        #ln2 {
            top: 0%;
        }

        #ln3 {
            right: 0%;
        }

        #ln4 {
            bottom: 0%;
        }
    }

}


#btn-processar {
    background-color: none;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        fill: none;
    }

    rect {
        width: 100%;
        height: 100%;
        stroke: $borda-botao;
        stroke-width: .3rem;
        stroke-dasharray: 1400;
        stroke-dashoffset: 1400;
        transition: 1s ease all;
    }

    &:hover {
        rect {
            stroke-dashoffset: 0;
        }
    }
}


#botao-tema {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border: 0.1em solid transparent;
    z-index: 10;

    .icone-tema {
        position: absolute;
        color: inherit;
    }

    &:hover {
        #sol {
            color: $acender
        }

        #lua {
            color: $acender
        }
    }
}


// RESPONSIVIDADE
@media (min-width: 320px) and (max-width: 500px) {

    #botao-tema {
        margin-left: 85vw;
        margin-top: 1vh;
    }

    .link-graficos {
        background-color: aliceblue;
        padding: .5em 1em;
        .ln {display: none;}
    }

}

@media (min-width: 501px) and (max-width: 767px) {

    #botao-tema {
        margin-left: 90vw;
        margin-top: 1vh;
    }

    .link-graficos {
        background-color: transparent;
        padding: .5em 1em;
        .ln {display: inline-flex;}
    }
}

@media (min-width: 768px) {

    #botao-tema {
        margin-left: 94vw;
        margin-top: 2vh;
    }
}

@media (min-width: 1500px) {

    #botao-tema {
        width: 2em;
        height: 2em;
        margin-left: 95vw;
    }
}

@media (min-width: 1600px) {

    #botao-tema {
        width: 2.5em;
        height: 2.5em;
        margin-left: 95vw;
        margin-top: 2vh;
        transform: scale(1.5);
    }
}