@import './variaveis';

.formulario
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    height: 15em;

    border: 0.1em solid $cor-primaria;
    border-radius: 1em;
    background-color: $conteiner;


    .texto-subtitulo
    {
        user-select: none;
        text-transform: uppercase;
    }

}
