.nav-bar
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    
    .conteiner-link
    {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        z-index: 2;
    
        .link
        {
            text-decoration: none;
            color: inherit;
        }
    }    

}

@media (min-width: 320px) {
    .nav-bar
    {
        height: 3em;
    }
}


@media (min-width: 376px) {
    .nav-bar
    {
        height: 5em;
    }
}
