@import './variaveis';


#resultados {
    flex-direction: column;
    gap: 3em;

    .conteiner-grafico {
        background-color: #aa0000;
    }
}


@media (max-width: 767px) {

    .tela {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
    }

    .principal {
        flex-direction: column;
        justify-content: center;
    }

}

@media (min-width: 768px) {

    .principal
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 3em;
        min-height: 100vh;
    }
    
}

@media (min-width: 820px) {

    .principal
    {
        justify-content: space-between;
        padding: 0em 3%;
    }
    
}



