@import './variaveis';


#resultados {
    flex-direction: column;
    gap: 3em;

    .conteiner-grafico {
        background-color: #aa0000;
    }
}


@media (max-width: 767px) {

    .tela {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
    }

    .principal {
        flex-direction: column;
        justify-content: center;
    }

}