// CORES
$cor-primaria: #000000;
$cor-secundaria: #DCDCDC;
$fundo-primario: #ADD8E6;
$fundo-secundario: #000080;

$conteiner: #4682B4;

$acender: #FFFF00;


// Efeitos
$flame-color-1: #ff5722;
$flame-color-2: #ff9800;
$flame-color-3: #ffc107;



