
.btn-processar
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 0.1em solid #000;
    border-radius: 0.1em;
    user-select: none;
}
.btn-processar:active
{
    transform: scale(0.99);
}