.nav-bar
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
    z-index: 1;
}
.nav-bar:hover
{
    background: #6A5ACD;
}

.conteiner-link
{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 2;
}

.link
{
    text-decoration: none;
    color: inherit;
}

